# ================== #
# Manually generated #
# ================== #
*.log
sysinfo.txt
Assets/Plugins/ConsoleE/Editor/ConsoleE_TabSettings
Assets/Plugins/ConsoleE/Editor/ConsoleE_TabSettings.meta

# =============== #
# Unity generated #
# =============== #
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
MemoryCaptures/
ProfilerCaptures/

# ========================================================== #
# Visual Studio / Visual Studio Code / MonoDevelop generated #
# ========================================================== #
.vs/
.vscode/
*.sln
*.csproj
*.suo
*.user
*.userprefs
*.pidb

# ============ #
# OS generated #
# ============ #
._*
.DS_Store
.DS_Store*
.Spotlight-V100
.Trashes
[Tt]humbs.db
ehthumbs.db
